{% extends "./_base.html" %}

{% block content %}

<div class="summary">
  <div class="summary_header">
    <h3>Summary</h3>
  </div>

  <div class="summary_grid">
    <table>
      <thead>
        <th>Question</th>
        <th>Answer</th>
      </thead>
      <tbody>
        {% for item in summary %}
        <tr>
          <td>{% autoescape off %}{{ item.question }}{% endautoescape %} </td>
          <td><p>{{ item.answer.1 }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="metrics_button">
      <button
        class="choice"
        data-choice="metrics">
        metrics
      </button>
    </div>

    <div class="start_over_button">
      <button
        class="choice"
        data-choice="Q1">
        start over
      </button>
    </div>
  </div>
  <p>{{ card_history.history }}</p>
</div><!-- /summary -->

{% endblock %}
