@import "base";

// ~~~~~~~~
// main
// ~~~~~~~~
body {
    font-family: $main_font;
    margin: 0;
    padding: 0;
}

.container {
    background-color: $wht;
    margin: 0 auto;
    padding: $slug;
    width: $container;
}

h1,
h2,
h3 {
    color: $blu;
    margin: 0;
}

header {
    text-align: center;
}


// ~~~~~~~~
// card
// ~~~~~~~~
.card {
    background-color: $wht;
    // box-shadow: 3px 3px 4px $a_gry;
    border: 1px dotted $a_gry;
    box-sizing: border-box;
    height: $card_height;
    margin: 0 auto;
    width: $card_width;

    .card_content {
        padding: $slug;
    }

    .question_txt {
        color: $blu;
    }
}

button {
    cursor: pointer;
}

.choice_buttons {
    button {
        background-color: $wht;
        border: 1px dotted $gry;
        border-radius: 8px;
        color: $gry;
        display: block;
        margin: $slug 0;
        min-height: 40px;
        width: $full;

        &:focus {
            background-color: $blu;
            border: 1px solid $wht;
            color: $wht;
        }
    }
}

.start_over_button {
    button {
        background-color: $blu;
        border: 0;
        border-radius: 8px;
        color: $wht;
        display: block;
        margin: $slug 0;
        min-height: 40px;
        width: $full;
    }
}

.continue_button_section {
    button {
        background-color: $blu;
        border: 0;
        bottom: 0;
        color: $wht;
        display: block;
        height: 80px;
        position: relative;
        width: $full;
    }
}


// ~~~~~~~~
// helpers
// ~~~~~~~~
.is_hidden {
    visibility: hidden;
}

.is_visible {
    visibility: visible;
}

