<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Can I Publish This?</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'normalize.min.css' %}?v=8.0.1">
  <!-- TODO: use min file once the styles are complete -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=20220422h">


</head>
<body>
  <div class="container">
    <header>
      <h1>Can I Publish This?</h1>
      <h2>Libel</h2>
    </header>

    {% block content %}{% endblock %}

  </div><!-- /container -->

  <script src="{% static 'main.min.js' %}?v=20220422cc"></script>

</body>
</html>