<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Libel</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
  <div class="container">
    <h1>Can I Publish This?</h1>
    <h2>Libel</h2>

    <!-- could be a nav here -->

    {% block content %}{% endblock %}

    <footer>
      {% if card.card_slug != 'Q1' %}
      <a href="{% url 'card' 'Q1' %}">start over</a>
      {% endif %}
    </footer>

  </div>

  <script src="{% static 'main.js' %}"></script>

</body>
</html>