{% extends "./_base.html" %}

{% block content %}

  <div class="card">
    <div class="can_publish_status">
      {% if card.can_publish_status == 'yes' %}
      <p><strong>&check;</strong> <em>can publish</em></p>
      {% endif %}

      {% if card.can_publish_status == 'no' %}
      <p><strong>&#10005;</strong> <em>pause</em></p>
      {% endif %}
    </div>

    <div class="card_content">
      <div class="question_txt">
        {% autoescape off %}{{ card.card_text }}{% endautoescape %}
      </div>

      {% if card.choice_one != 'next' %}
      <div class="choice_buttons">
        <button
          class="choice {% if card.choice_one == 'summary' %}has_focus{% endif %}"
          data-choice="{{ rel.choice_one_next }}"
          data-slug="{{ card.card_slug }}">
          {{ card.choice_one }}
        </button>

        {% if card.choice_two != '' %}
        <button
          class="choice"
          data-choice="{{ rel.choice_two_next }}">
          {{ card.choice_two }}
        </button>
        {% endif %}

        <div class="start_over_button">
          {% if card.card_slug != 'Q1' %}
            <button
              class="choice"
              data-choice="Q1">
              start over
            </button>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div><!-- /card_content -->



    {% if card.choice_one != 'next' and card.choice_one != 'summary' %}
    <div class="continue_button_section">
      <button
        id="submit_choice"
        disabled
        autocomplete="off">
        continue
      </button>
    </div>
    {% endif %}

    {% if card.choice_one == 'next' %}
    <div class="continue_button_section">
      <button
        class="choice is_active"
        data-choice="{{ rel.choice_one_next }}"
        data-slug="{{ card.card_slug }}">
        next
      </button>
    </div>
    {% endif %}

  </div><!-- /card -->

{% endblock %}
