{% extends "./_base.html" %}

{% block content %}

<div class="summary">
  <h3>Metrics</h3>

  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th colspan="2">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for item in metrics_grid %}
      <tr>
        <td rowspan="2">{% autoescape off %}{{ item.question }}{% endautoescape %}</td>
        <td>{{ item.choice_one }}</td>
        <td>{{ item.choice_two }}</td>
      </tr>
      <tr>
        <td>{{ item.count_one }}</td>
        <td>{{ item.count_two }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="start_over_button">
    <button
      class="choice"
      data-choice="Q1">
      start over
    </button>
  </div>

</div><!-- /summary -->

{% endblock %}


