{% extends "./_base.html" %}

{% block content %}

  <h3>Summary</h3>

  <table>
    <tr>
      <td>Last Card</td>
      <td colspan="2">{{ last_card }}</td>
    </tr>
    <tr>
      <td>Slug</td>
      <td>Question</td>
      <td>Answer</td>
    </tr>
    {% for item in summary %}
    <tr>
      <td>{{ item.slug }}</td>
      <td>{% autoescape off %}{{ item.question }}{% endautoescape %} </td>
      <td>{{ item.answer }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Can Publish Status</td>
      <td colspan="2">
        {% if pub_status == 'yes' %}
        <p><strong>&check;</strong> <em>can publish</em></p>
        {% elif pub_status == 'no' %}
        <p><strong>&#10005;</strong> <em>pause</em></p>
        {% else %}
        <p>n/a</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Reset Button</td>
      <td colspan="2">
        <button
          class="choice"
          data-choice="Q1">
          start over
        </button>
      </td>
    </tr>

    <!-- TEMP -->
    <tr>
      <td>Path</td>
      <td colspan="2">{{ card_history.path }}</td>
    </tr>
    <tr>
      <td>History</td>
      <td colspan="2">{{ card_history.history }}</td>
    </tr>
  </table>

{% endblock %}
