{% extends "./_base.html" %}

{% block content %}

<div class="summary">
  <h3>Summary</h3>

  <div class="summary_grid">
    <table>
      <thead>
        <th>Question</th>
        <th>Answer</th>
      </thead>
      <tbody>
        {% for item in summary %}
        <tr>
          <td>{% autoescape off %}{{ item.question }}{% endautoescape %} </td>
          <td>{{ item.answer.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="can_publish_status">
    {% if card.can_publish_status == 'yes' %}
    <p><strong>&check;</strong> <em>can publish</em></p>
    {% endif %}

    {% if card.can_publish_status == 'no' %}
    <p><strong>&#10005;</strong> <em>pause</em></p>
    {% endif %}
  </div>

  <div class="metrics">
    <button
      class="choice"
      data-choice="metrics">
      metrics
    </button>
  </div>

  <div class="start_over_button">
    <button
      class="choice"
      data-choice="Q1">
      start over
    </button>
  </div>

</div><!-- /summary -->

{% endblock %}
