{% extends "./_base.html" %}

{% block content %}

  <h3>Summary</h3>

  <table>
    <tr>
      <td>Last Card</td>
      <td colspan="2">
        <button
          class="choice"
          data-choice="{{ last_card }}">
          back to {{ last_card }}
        </button>
    </tr>
    <tr>
      <td>Slug</td>
      <td>Question</td>
      <td>Answer</td>
    </tr>
    {% for item in summary %}
    <tr>
      <td>{{ item.slug }}</td>
      <td>{% autoescape off %}{{ item.question }}{% endautoescape %} </td>
      <td>{{ item.answer }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Reset Button</td>
      <td colspan="2">
        <button
          class="choice"
          data-choice="Q1">
          start over
        </button>
      </td>
    </tr>
  </table>

{% endblock %}
